.footer {
    background-color: #222;
    padding: 20px 0;
    color: white;
    text-align: center;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.socialIcons {
    margin-bottom: 10px;
}

.icon {
    margin: 0 10px;
    color: white;
    font-size: 24px;
    transition: color 0.3s ease;
}

.icon:hover {
    color: #0ea4ff;
}

.footerText {
    margin-top: 10px;
    font-size: 14px;
    color: #ccc;
}