.container {
    display: flex;
    flex-direction: column;
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
}
.container .headername{
    float: left;
    border-bottom: 5px solid #0ea4ff;
    font-weight: bold;
}
.imageContainer {
    width: 100%;
    text-align: center;
}

.image {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.detailsContainer {
    margin-top: 20px;
    text-align: center;
}

.title {
    font-size: 2rem;
    margin-bottom: 10px;
}

.description {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.price {
    font-size: 1.5rem;
    margin-bottom: 30px;
    color: #0ea4ff;
    font-weight: bold;
}

.orderButton {
    padding: 10px 20px;
    font-size: 1.2rem;
    color: white;
    background-color:green;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.orderButton:hover {
    background-color: #0ea4ff;
}