.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    max-width: 600px;
    margin: 0 auto;
}

.title {
    font-size: 2rem;
    margin-bottom: 20px;
}

.paystackButton {
    padding: 10px 20px;
    background-color: #0ea4ff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.paystackButton:hover {
    background-color: #0ea;
}